<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="header">
    <img src="/static/rdgmc_logo.png">
    <h1>RDGMC Admin Panel</h1>
    <hr>
</div>

<div class="container">

<table>
<tr>
    <th>User</th>
    <th>Reports</th>
    <th>Muted</th>
    <th>Action</th>
</tr>

{% for u in users %}
<tr>
    <td>{{u[0]}}</td>
    <td>{{u[1]}}</td>
    <td>{{u[2] if u[2] else "No"}}</td>
    <td>
        <a href="/mute/{{u[0]}}">🔇 Mute</a>
    </td>
</tr>
{% endfor %}
</table>

<br>
<a href="/chat">⬅ Back to chat</a>

</div>
</body>
</html>
