<!DOCTYPE html>
<html>
<head>
    <title>Poll</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="header">
    <img src="/static/rdgmc_logo.png">
    <h1>R.D. Gardi Medical College</h1>
    <h2>RDGMC Poll</h2>
    <hr>
</div>

<div class="container">

{% if poll %}
<div class="box">
    <h3>{{ poll[0] }}</h3>

    <a href="/vote/1">{{ poll[1] }} ({{ poll[5] }})</a><br><br>
    <a href="/vote/2">{{ poll[2] }} ({{ poll[6] }})</a><br><br>
    <a href="/vote/3">{{ poll[3] }} ({{ poll[7] }})</a><br><br>
    <a href="/vote/4">{{ poll[4] }} ({{ poll[8] }})</a>
</div>
{% else %}
<p>No poll active.</p>
{% endif %}

{% if admin %}
<hr>

<div class="box">
<h3>Create New Poll (Admin)</h3>
<form method="post">
    <input name="question" placeholder="Poll question" required>
    <input name="o1" placeholder="Option 1" required>
    <input name="o2" placeholder="Option 2" required>
    <input name="o3" placeholder="Option 3" required>
    <input name="o4" placeholder="Option 4" required>
    <button type="submit">Create Poll</button>
</form>
</div>
{% endif %}

<br>
<a href="/chat">⬅ Back to Chat</a>

</div>
</body>
</html>
